@charset "utf-8";

@import url("html-css-reset.css");

/* The first part is to condition our <body> tag in CSS so that there are no margins and the height will always remain 100% of the screen. This will ensure that the greatest amount of screen is available for use. */
    html, body {
        height: 100%;
        box-sizing: border-box;
        font-family: 'Source Sans Pro', sans-serif;
    }

/* Ensure that a vertical scroll bar is always displayed in the browser. Because the proportions of the website are all relative, the sudden appearance of a scroll bar (which could be triggered by an interactive component on your website) will cause your site to jump. In CSS, we can use this simple trick to ensure that the bar is always there, thus preventing jumping. */
    html {
        overflow-y: scroll;
        font-size: 1rem;
    }

/* In order for images to fit within any screen, they need to be scaled. There are several ways to do this but a good starting point is to make all images have a width of 100%. */
    img {
        max-width: 100%;
        border-style: none;
    }

/* Unfortunately, max-width is not supported in older versions of Internet Explorer, so a conditional comment is also included, denoted with an asterisk. */
    *img {
        width: 100%;
        border-style: none;
    }

/* The 'clearfix' class clears a row of floated boxes. */
    .clearfix {
        clear: both;
        font-size: 0;
        line-height: 0;
        margin: 0;
        padding: 0;
        display: table;
        content: "";
    }





/*#####################################################################################
#######################################################################################

    SMARTPHONE PORTRAIT LAYOUT AND LANDSCAPE LAYOUT: 0px - 480px

#######################################################################################
#####################################################################################*/
@media only screen and (min-width: 0px) {

	body {
		background-color: #fff;
	}

    header
    {
        background-color: #003459;
        height: auto;
        text-align: left;
        color: #fff;
    }

    header h1
    {
        padding: 10px;
        font-size: 2rem;
    }

    .wrapper
    {
        padding: 50px 10px;
        text-align: center;
    }

    .word-content h1
    {

        font-size: 3.5rem;
    }

    .word-content p
    {
        font-size: 1.2rem;
    }

    .btn-signup, .btn-explore
    {
        width: 30%;
        display: inline-block;
        margin: 20px 10px;
        padding: 20px;
        text-decoration: none;
        background-color: #ED6347;
        color: #fff;
        font-size: 1.2rem;
    }

    /*Items */

   .item
   {
        width: 90%;
        max-width: 350px;
        margin: 0 auto;
        margin-top: 40px;
        background-color: #1D3557;
        color: #fff;
        text-align: center;
        
   }

   .item:nth-last-child(1)
   {
        margin-bottom: 20px
   }

   .item h1, h2
   {
        font-size: 1.4rem;
        font-weight: 200;
        padding: 10px 10px;
   }

   .item .btn-bid
   {
        border-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 10px 10px;
        margin-bottom: 20px;
        background-color: #ED6347;
        width: 75%;

   }
}




/*#####################################################################################
#######################################################################################

    TABLET PORTRAIT LAYOUT: 481px - 800px
    INHERIT STYLES FROM SMARTPHONE LAYOUT

#######################################################################################
#####################################################################################*/
@media only screen and (min-width: 481px) {

	body {
		background-color: #fff;
	}


}




/*#####################################################################################
#######################################################################################

    TABLET LANDSCAPE LAYOUT AND DESKTOP MONITOR LAYOUT: 801px - 1300px
    INHERIT STYLES FROM SMARTPHONE LAYOUT AND TABLET LAYOUT

#######################################################################################
######################################################################################*/
@media only screen and (min-width: 801px) {

	body {
		background-color: #fff;
	}


    .item
   {
        margin: 0 30px;
        margin-top: 40px;
        background-color: #1D3557;
        color: #fff;
        width: 45%;
        float:left;
        text-align: center;
        
   }

}




/*#####################################################################################
#######################################################################################

    DESKTOP MONITOR LAYOUT AND SMART TV: 1300px - 10 000px
    INHERIT STYLES FROM SMARTPHONE LAYOUT, TABLET LAYOUT AND DESKTOP MONITOR LAYOUT

#######################################################################################
#####################################################################################*/
@media only screen and (min-width: 1300px) {

    body {
        background-color: #fff;
    }

    .item
    {
        margin: 0 6px;
        align-content: center;
        margin-top: 40px;
        background-color: #1D3557;
        color: #fff;
        width: 24%;
        float:left;
        text-align: center;
    }
		
}


